In [1]:
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [2]:
import pandas as pd #for handling dataset
import numpy as np #numerical handling on dataset
import matplotlib as plt #for plotting data as an graph
import seaborn as sns #for graphica representation


#know when to use matploblib vs matplotlib.pyplot

In [3]:
#importing dataset and reading 
#csv should be kept at same working directory and spell the name properly
df=pd.read_csv('diabetes.csv')

In [7]:
#reading the top data first 10. default 5
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [6]:
#structure of the data set
df.shape

(768, 9)

find if the dataset is proper. and also havenull values, categorical values basic EDA.

In [8]:
#differnet types of attributes. to check if there are any categorical
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
 df.isnull()# to check if there are null. also doesnt show bewen values.

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()#adds everything and shows. i fi tis there it shows up. #df.dropna() if there are null values

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

#train and test split

 the most common package sklearn (scki kit learn )
    
    it has a package train and split, preprocessing, basic ml models,

In [11]:
from sklearn.model_selection import train_test_split #data the featurs. and label the outcomes. supervvised.  and also medel_selection class

In [28]:
#splitting the data , label and data
#iloc to select specific number of row or column
#check spellings of variables

x= df.iloc[:,df.columns!='Outcome']#data
y=df.iloc[:,df.columns=='Outcome']#label

#print x and y to if data is selected properly

In [27]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [29]:
xtrain, xtest, ytrain, ytest = train_test_split (x,y,test_size=0.3)#test data 30%

In [30]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
213,0,140,65,26,130,42.6,0.431,24
392,1,131,64,14,415,23.7,0.389,21
562,1,87,68,34,77,37.6,0.401,24
662,8,167,106,46,231,37.6,0.165,43
152,9,156,86,28,155,34.3,1.189,42

In [31]:
ytrain.head()

     Outcome
213        1
392        0
562        0
662        1
152        1

# algorithm

In [35]:
#ensemble deals with an sub barnch. see if it is neccesary

#sklearn package for mode imports

from sklearn.ensemble import RandomForestClassifier

In [36]:
model = RandomForestClassifier()#no parameter given now

In [39]:
model.fit(xtrain,ytrain.values.ravel())#ravel is used need to change in an order #just a warning(.values.ravel() is used need to know why values i shoud mention)

RandomForestClassifier()

In [41]:
#testing with giving only x values to predict y.

model.predict(xtest)

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [44]:
predicted_output= model.predict(xtest)

print(predicted_output)

[0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1
 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 1 0 1 1
 1 0 1 1 1 1 1 0 0 1 1 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 1 1 1 1 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0
 0 0 0 0 0 0 0 1 1]

#testtingthe accuracy

In [45]:
#packages needed

from sklearn.metrics import accuracy_score

In [46]:
accuracy = accuracy_score(ytest,predicted_output)

print("the accuracy score is ", accuracy)

the accuracy score is  0.7229437229437229

In [ ]:
 ##summary.
    
    ##72% of times it is predicting the right ones.
    ##28% is error
    #confusion matrix, balanced datset, or imbalanced.